.main {
    background-color: aqua;
    padding: 10px 50px;
    background-size: 100% 100%;
}

.logo {
    display: flex;
    background-color: aquamarine;
    margin-left: 0px;
    margin-right: 0px;
    height: 100px;
    margin-bottom: 2%;
    justify-content: left;

}

.navv {
    display: flex;
    background-color: rgb(72, 0, 255);
    margin-left: 0px;
    margin-right: 0px;
    height: 75px;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    background-color: rgb(130, 0, 252);
    margin-left: 0px;
    margin-right: 0px;
    height: 200px;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.side {

    display: flex;
    background-color: azure;
    height: 400px;
    width: 35%;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;


}

.bodys {
    display: flex;
    background-color: blanchedalmond;
    margin-left: 10%;
    width: 60%;
    height: 400px;
    margin-bottom: 2%;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.foot {
    display: flex;
    text-align: center;
    align-items: center;
    background-color: brown;
    margin-left: 0px;
    margin-right: 0px;
    height: 100px;
    justify-content: center;
}